.purchases{
  position: relative;
  padding: 20px;

  &::before{
    position: absolute;
    top: 300px;
    left: calc(50% + 590px);
    display: block;
    width: 514px;
    height: 570px;
    background-image: url("../../images/purchases-right-leaf.png");
    background-repeat: no-repeat;
    background-size: 514px 570px;
    background-position: center;
    z-index: 1;
    content: "";
  }

  &::after{
    position: absolute;
    top: 800px;
    right: calc(50% + 565px); 
    display: block;
    width: 402px;
    height: 300px;
    background-image: url("../../images/left_side_leaf.png");
    background-repeat: no-repeat;
    background-size: 402px 300px;
    background-position: center;
    z-index: 1;
    content: "";
  }
}

.purchases__box{
  position: relative;
  padding: 50px 144px 50px 30px;
  background-color: $commit-bgc;

  &::before{
    position: absolute;
    top: 1400px;
    right: calc(50% + 680px); 
    display: block;
    width: 316px;
    height: 269px;
    background-image: url("../../images/left_side_leaf_two.png");
    background-repeat: no-repeat;
    background-size: 316px 269px;
    background-position: center;
    z-index: 1;
    content: "";
  }
}

.box{
  display: flex;
  flex-wrap: wrap;
}

.box__left{
  width: 230px;
}

.list__item:checked ~ .list__item-box > .item__title{
  color: #000000;
  border-bottom: 3px dashed #C99B67;
}

.list__item-box{
  display: block;
  margin-bottom: 30px;
  padding-bottom: 5px;
}

.item__title{
  display: inline-block;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  font-variant: small-caps;
  color: #555555;
  border-bottom: 3px dashed transparent;
}

.box__right{
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.box__right-subbox{
  width: 686px;
  margin-bottom: 60px;
}

.box__survey{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.box__right-title{
  margin: 0;
  margin-right: 55px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  color: #000000;
}

.box-right__button, .button-two, .button-there, .button-four, .button-five{
  border: 0;
  background-color: transparent;
}

.box-right__list{
  vertical-align: middle;
}

.survery-content{
  display: none;

  &__two{
    display: none;
  }
  &__there{
    display: none;
  }
  &__four{
    display: none;
  }
  &__five{
    display: none;
  }
}

.survery-content--open{
  display: block;
  height: 220px;
}

.survery-content__two--open{
  display: block;
  height: 220px;
}
.survery-content__there--open{
  display: block;
  height: 220px;
}
.survery-content__four--open{
  display: block;
  height: 220px;
}
.box__content-five--open{
  display: block;
  height: 220px;
}

.right__list-item:checked ~ .right__item-box{
  background-color: #0A775F;
}

.right__list-item:checked ~ .right__item-box > .item__title, .item__text{
  color: #FFFFFF;
}

.right__list-item:checked ~ .right__item-box > .item__text{
  color: #FFFFFF;
}

.right__item-box{
  display: inline-block;
  width: 208px;
  margin-right: 18px;
  padding: 30px 12px 80px 16px;
  background-color: #C5DACF;
}

.item-box__one{
  padding: 30px 32px 56px 16px;
}
  

.item__title{
  display: block;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-variant: small-caps;
  color: #333333;
}

.item__text{
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.box__summary{
  width: 660px;
  margin-right: 27px;
  margin-bottom: 20px;
  padding: 40px 21px;
  background-color: #C99B67;
}

.summary__title{
  margin: 0;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.summary__text{
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
}

.summary__desc{
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}

.box__link-box{
  margin-right: 27px;
  margin-left: auto;
}

.box__link{
  width: 175px;
  padding: 16px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #FFFFFF;
  background: #0A775F;
  border: 0;
  border-radius: 100px;
}