.purchases{
  position: relative;
  padding: 20px;

  &::before{
    position: absolute;
    top: 300px;
    left: calc(50% + 590px);
    display: block;
    width: 514px;
    height: 570px;
    background-image: url("../../images/purchases-right-leaf.png");
    background-repeat: no-repeat;
    background-size: 514px 570px;
    background-position: center;
    z-index: 1;
    content: "";
  }

  &::after{
    position: absolute;
    bottom: calc(50% - 100px);
    right: calc(50% + 565px); 
    display: block;
    width: 402px;
    height: 300px;
    background-image: url("../../images/left_side_leaf.png");
    background-repeat: no-repeat;
    background-size: 402px 300px;
    background-position: center;
    z-index: 1;
    content: "";
  }
}

.purchases__box{
  position: relative;
  height: 2127px;
  padding: 50px 30px;
  background-color: $commit-bgc;

  &::before{
    position: absolute;
    bottom: 300px;
    right: calc(50% + 680px); 
    display: block;
    width: 316px;
    height: 269px;
    background-image: url("../../images/left_side_leaf_two.png");
    background-repeat: no-repeat;
    background-size: 316px 269px;
    background-position: center;
    z-index: 1;
    content: "";
  }
}

.button {
  position: relative;
  margin: 20px;
  padding: 11px;
  background: #0077B5;
  border-radius: 4px;
  border: none;
  
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 10px solid #0077B5;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    transform: translateX(-50%);
    content: "";
  }
}

.about__span {
  position: absolute;
  top: 0;
  right: 0;
  border-top: 10px solid #0077B5;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: translateX(50%);
}

.button::-webkit-scrollbar {
  width: 8px;
}
 
.button::-webkit-scrollbar-track {
  background-image: url("../../images/scroll-bgi.jpg");
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.button::-webkit-scrollbar-thumb {
  background-color: darkcyan;
  border-radius: 30px;
}

.box {
  width: 660px;
  margin-bottom: 20px;
  padding: 20px;
}

.box__header {
  display: flex;
  align-items: center;
}

.box__title {
  margin: 0;
  margin-right: 55px;
}

.box__button {
  transition: all 1s ease;
  background-color: transparent;
  border: none;
}

.rotate {
  transform: rotate(180deg);
}

.box__content {
  transition: all 1s ease;
  height: 0;
  overflow: hidden;
}

.box__content--open {
  height: 200px;
}